/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  text-align: center;

  background-image: linear-gradient(to bottom, lightslategray, lightsteelblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #333447;
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}
.fix{
    text-align: center;
    margin-right: -99%;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

.chart-sect {
  display: block;
  margin: 0 auto;
  width: 60%;
  margin-top: 5%;
}

header {
  text-align: center;
  padding: 1em;
  background-color: #333447;
  margin-bottom: 3%;
}

.input-sect {
  display: block;
  margin: 0 auto;
  width: fit-content;
  border-bottom: solid 0.1em seagreen;
}


.theN {
  margin-bottom: 0.3em;
  font-size: 1.2rem;
  list-style: none;
}

header h1 {
  color: whitesmoke;
}

.theerror {
  height: 1.2rem;
}

.capacity-amount{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.perc-amount {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

input {
  font-size: 1rem;
  border: solid 0.1em cadetblue;
  border-radius: 0.4em;
  outline-color: cadetblue;
  width: fit-content;
}

select {
  font-size: 1.2rem;
  border: solid 0.1em cadetblue;
  border-radius: 0.4em;
  outline-color: cadetblue;
}

.lockdown-level{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.theTable {
  margin-top: 7%;
}

/* .clear{
  display: none;
}
.show {
  display: block;
}
.count-container{
  height: 8em;
} */

/* .counter {
  display: none;
} */

h3 {
  display: block;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.8em;
  width: fit-content;
  border-bottom: solid dodgerblue;
}

.addName {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.addNameList {
  margin-top: 5%;
}

.calc {
  padding: 0.5em 1.2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: dodgerblue;
  font-weight: bolder;
  color: whitesmoke;
  border: none;
  border-radius: 0.2em;
}

.calc:hover {
  transition: 300ms;
  background-color: seagreen;
  color: whitesmoke;
}

.add {
  padding: 0.5em 1.2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: dodgerblue;
  font-weight: bolder;
  color: whitesmoke;
  border: none;
  border-radius: 0.2em;
}

.add:hover {
  transition: 300ms;
  background-color: seagreen;
  color: whitesmoke;
}

span {
  /* display: block; */
  /* margin: 0 auto; */
  font-family: Arial, Helvetica, sans-serif;
  color: #474968;
  font-weight: bold;
  font-size: 1.5rem;
}

.crimson {
  color: crimson;
}

.errorr {
  height: 1.3rem;
  font-size: 1.2rem;
  color: crimson;
  font-weight:500
}

.capLimit {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.attendance {
  padding: 0.5em;
  display: block;
  margin: 0 auto;
  border-bottom: solid 0.1em seagreen;
  width: 20rem;
}

hr {
  background-color: seagreen;
  width: 22rem;
  height: 0.1px;
  color: seagreen;

}

.update {
  display: block;
  margin-left: 3%;
  padding: 0.5em 1.2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: seagreen;
  font-weight: bolder;
  color: whitesmoke;
  border: none;
  border-radius: 0.2em;
}

.update:hover {
  transition: 300ms;
  background-color: dodgerblue;
  color: whitesmoke;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}